body {
	margin:0;
	padding:0;
	background-color:#26292b;
	font-family: 'Source Sans Pro', sans-serif;
	color:#fff;
}
h1 {
	text-align:center;
}

input[type="text"] {
	padding:0.5em;
	border-radius:3px;
	border:1px solid rgb(189, 189, 189);
	outline:none;
}

input[type="submit"], button {
	padding:0.5em 1em;
	border-radius:3px;
	background-color:transparent;
	border:1px solid white;
	color:white;
	margin-left:1em;
	transition:all 0.1s linear;
	outline:none;
	cursor:pointer;
}
input[type="submit"]:hover, button:hover {	
	background-color:white;	
}

input[type="submit"]:hover {
	color:#5583D7;
}

.container-ajax button:hover {
	color:#91B90A;
}

.container-fetch button:hover {
	color:#F36974;
}


.container-forms, .container-ajax, .container-fetch {
	padding:1em 0;
	display:flex;
	align-items:center;
	justify-content:space-around;
	box-shadow: 0 0 10px black;
}
.container-forms {
	background: linear-gradient(to top left, cornflowerblue, #345ca7);
}
.container-ajax {
	background: linear-gradient(to top left, #a3d200, #6d881f);
	
}

.container-fetch {
	background: linear-gradient(to top left, #ff7878, #d8496b);
	
}

@media (max-width:700px) {
	.container-forms, .container-ajax, .container-fetch {
		flex-direction:column;
	}
}